<%=@message%>
<h1>Your Profile Information Report</h1>
<h2>Results found: <%= @results_found.count %></h2>

  <% @usersearch.hits.each do |hit| %>
  <div class="search_result">

    <% hit.highlights(:body).each do |highlight| %>
  <p class="highlight"> <%= highlight.format {|word| "#{word}" }%></p>
  <% end %>

  Hit Score: <%= hit.score%><br>
  Scraped at: <%=hit.result.updated_at.strftime("%m-%d-%Y")%><br>
  <a class="search_link" href="<%=hit.result.base_url%>" target="_blank"><%= hit.result.base_url%></a><br><br>
  </div>
  <% end %>
