<div class="row">


    <%= form_tag("/search", method: "get") %>
      <%= collection_check_boxes( :target, :ids, @all_targets, :id, :name, checked: @targets ) %>
      <%= submit_tag 'Search' %>

  <div class="column medium-9">
    <%= render 'results' if @results_found %>
  </div>

  <div class="column medium-3">
    <%= render 'search_queries/index' %>
  </div>

</div>



