<%= render 'search_queries/index' %>

<% if @query %>

  <div class= 'row'>
    <div class='large-12 columns'>

    <%= form_tag("/search", method: "get") %>
      <%= collection_check_boxes( :target, :ids, @targets, :id, :name, checked: @targets ) %>
      <%= submit_tag 'Search' %>

    </div>
  </div>

<% end %>

<%= render 'results' if @results_found %>
