
<%= render 'search_queries/index' %>
<div class= 'row'>
<div class='large-12 columns'>
<%=form_tag("/search", method: "get") do %>
  <%= label_tag(:target, "1") %>
  <%= radio_button_tag(:target, "1") %>
   <%= label_tag(:target, "2") %>
  <%= radio_button_tag(:target, "2") %>
   <%= label_tag(:target, "3") %>
  <%= radio_button_tag(:target, "3") %>

  <%= submit_tag("search") %>
<% end %>
</div>
</div>
<%= render 'results' if @results_found %>

