<% if @query %>
<div="profile-box">
<h1>Your profile information</h1>
  <ul class='vcard'>
    <li class='fn'>Name: <%= @query.first_name %> <%= @query.last_name %></li>
    <li class='street-address'>Address: <%= @query.address %></li>
    <li><span class='zip'>Zipcode: <%= @query.zipcode %></span></li>
    <li class='email'>Phone Number: <%= @query.phone_number %></li>
  </ul><br>
  <%= link_to 'Edit', edit_search_query_path(@query), class:"button tiny radius", id:"query-button" %>
</div>

<% else %>

 <h1 class="left"> <%= link_to 'Start your first query', new_search_query_path, class:"button radius small", id:"query-button", remote: true %></h1>

<div id="search-query-form" style="display:none;"></div>
<% end %>
